{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<style>
			.column {
				float: left;
				padding: 10px;
				width: 170px;
			}
			.row {
				content: "";
				display: table;
				clear: both;
			}

			.cart {
				height: 100%;
				width: 400px;
				position: fixed;
				z-index: 1;
				top: 0;
				right: 0;
				background-color: lightgray;
				overflow-x: hidden; 
			}
		</style>
	</head>
	<body>
		{% block body %}
		{% endblock %}

	</body>
</html>