{% extends "orders/base.html" %}

{% block title %}
	Pinochio's Pizza & Subs : Menu | {{ user.first_name }}
{% endblock %}

{% block body %}
	<h1> Welcome {{ user.first_name }}</h1>
	<div class="logout-btn">
		<a href="{% url 'logout' %}">LogOut</a>
	</div>
	<h2>Menu</h2>
	<h3>Regular Pizza</h3>
	<div class="row">
		<div class="column">Pizza</div>
		<div class="column">Size</div>
		<div class="column">Extra Toppings</div>
		<div class="column">Order</div>
	</div>
	{% for regularpizza in regularpizzas %}
		<form action="{% url 'cart' regularpizza.id %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="column">{{ regularpizza.name }}</div>
				<div class="column">
					<select name="size">
						<option value="{{ regularpizza.price_small }}">Small : ${{ regularpizza.price_small }}</option>
						<option value="{{ regularpizza.price_large }}">Large : ${{ regularpizza.price_large }}</option>						
					</select>
				</div>
				<div class="column">
					
					<select name="toppings" size="2" multiple>
						{% for topping in toppings %}
							<option value="{{ topping.id }}">{{topping.topping}} : ${{topping.rate }}</option>
						{% endfor %}
					</select>
					
				</div>
				<div class="column"><input type="submit" value="Add to cart"/></div>
				
			</div>
		</form>
	{% endfor %}
	<h3>Sicilian Pizza</h3>
	<div class="row">
		<div class="column">Pizza</div>
		<div class="column">Size</div>
		<div class="column">Extra Toppings</div>
		<div class="column">Order</div>
	</div>
	{% for sicilianpizza in sicilianpizzas %}
		<form action="{% url 'cart' sicilianpizza.id %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="column">{{ sicilianpizza.name }}</div>
				<div class="column">
					<select name="size">
						<option value="{{ sicilianpizza.price_small }}">Small : ${{ sicilianpizza.price_small }}</option>
						<option value="{{ sicilianpizza.price_large }}">Large : ${{ sicilianpizza.price_large }}</option>						
					</select>
				</div>
				<div class="column">
					
					<select name="toppings" size="2" multiple>
						{% for topping in toppings %}
							<option>{{topping.topping}} : ${{topping.rate }}</option>
						{% endfor %}
					</select>
					
				</div>
				<div class="column"><input type="submit" value="Add to cart"></div>
				
			</div>
		</form>
	{% endfor %}
	<div class="cart">
		<h2 align="center">Your Cart</h2>
		{% if cart %}
			<div><p>Pizza: {{ cart.item_name }}</p></div>
			<div><p>Price: {{ cart.item_price }}</p></div>
			<div>
				{% for toppings in cart.item_name.toppings%}
					cart.item_price += toppings.rate
				{% endfor %}
				<p>Subtotal = {{ cart.item_price }}</p>
			</div>
		{% else %}
			<div>Empty Cart</div>
		{% endif %}
	</div>

{% endblock %}